@tailwind base;
@tailwind components;
@tailwind utilities;

.text-weak {
    @apply text-zinc-500 dark:text-zinc-400;
}

html.light {
    --background: #ffffff;
    --foreground: #171717;
}

html {
    --background: #282830;
    --foreground: #ededed;
}

body {
    color: var(--foreground);
    background: var(--background);
    transition: background 0.3s, color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
